<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{addBlogTitle}">Добавить Блог</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<nav class="navbar">
    <div>
        <a class="navbar-brand" th:text="#{adminBlog}">Админ Блог</a>
    </div>
    <div>
        <a th:href="@{/admin_blog(lang=${lang})}" th:text="#{blogList}">Список блогов</a>
        <a th:href="@{/admin_blog/new(lang=${lang})}" th:text="#{addBlog}" style="font-weight: bold;">Добавить блог</a>
        <a th:href="@{/index(lang=${lang})}" th:text="#{home}">Домой</a>
    </div>
    <form>
        <select class="form-select" name="lang" onchange="this.form.submit()">
            <option value="en" th:selected="${#locale == 'en'}" th:text="#{chooseLan}">Выберите язык</option>
            <option value="en" th:selected="${#locale == 'en'}" th:text="#{english}">English</option>
            <option value="ru" th:selected="${#locale == 'ru'}" th:text="#{russian}">Русский</option>
            <option value="de" th:selected="${#locale == 'de'}" th:text="#{german}">Deutsch</option>
            <option value="it" th:selected="${#locale == 'it'}" th:text="#{italian}">Italiano</option>
            <option value="cn" th:selected="${#locale == 'cn'}" th:text="#{chinese}">漢語</option>
        </select>
    </form>
</nav>

<div class="container">
    <h1 th:text="#{addNewBlog}">Добавить новый блог</h1>
    <form th:action="@{/admin_blog/new}" method="post">
        <div>
            <label for="title" class="form-label" th:text="#{titleLabel}">Название</label>
            <input type="text" id="title" name="title" th:placeholder="#{titlePlaceholder}" required>
        </div>
        <div>
            <label for="content" class="form-label" th:text="#{contentLabel}">Текст</label>
            <textarea id="content" name="content" rows="5" th:placeholder="#{contentPlaceholder}" required></textarea>
        </div>
        <div>
            <label for="image_url" class="form-label" th:text="#{imageLabel}">Изображение (URL)</label>
            <textarea id="image_url" name="imageUrl" rows="1" th:placeholder="#{imagePlaceholder}" required></textarea>
        </div>
        <div>
            <label for="vk_link" class="form-label" th:text="#{vkLabel}">Ссылка на ВКонтакте</label>
            <input type="url" id="vk_link" name="vkLink" th:placeholder="#{vkPlaceholder}">
        </div>
        <div>
            <label for="facebook_link" class="form-label" th:text="#{facebookLabel}">Ссылка на Facebook</label>
            <input type="url" id="facebook_link" name="facebookLink" th:placeholder="#{facebookPlaceholder}">
        </div>
        <div>
            <label for="odnk_link" class="form-label" th:text="#{odnkLabel}">Ссылка на Одноклассники</label>
            <input type="url" id="odnk_link" name="odnkLink" th:placeholder="#{odnkPlaceholder}">
        </div>
        <div>
            <label for="twitter_link" class="form-label" th:text="#{twitterLabel}">Ссылка на Twitter</label>
            <input type="url" id="twitter_link" name="twitterLink" th:placeholder="#{twitterPlaceholder}">
        </div>
        <button type="submit" th:text="#{submitButton}">Добавить</button>
    </form>
</div>

</body>
</html>
