<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Блог</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar">
    <a class="navbar-brand" href="#">Админ Блог</a>
    <form>
        <select class="form-select" name="lang" onchange="this.form.submit()">
            <option value="en" th:selected="${#locale == 'en'}" th:text="#{chooseLan}">Выберите язык</option>
            <option value="en" th:selected="${#locale == 'en'}" th:text="#{english}">English</option>
            <option value="ru" th:selected="${#locale == 'ru'}" th:text="#{russian}">Русский</option>
            <option value="de" th:selected="${#locale == 'de'}" th:text="#{german}">Deutsch</option>
            <option value="it" th:selected="${#locale == 'it'}" th:text="#{italian}">Italiano</option>
            <option value="cn" th:selected="${#locale == 'cn'}" th:text="#{chinese}">漢語</option>
        </select>
    </form>
</nav>

<div class="container">
    <h1 class="mb-4" th:text="#{editBlogTitle}">Редактировать блог</h1>
    <form th:action="@{/admin_blog/edit/{id}(id=${blogPost.id})}" method="post">
        <div>
            <label for="title" class="form-label" th:text="#{title}">Название</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${blogPost.title}" required>
        </div>
        <div>
            <label for="content" class="form-label" th:text="#{content}">Текст</label>
            <textarea class="form-control" id="content" name="content" rows="5" th:text="${blogPost.content}" required></textarea>
        </div>
        <div>
            <label for="image_url" class="form-label" th:text="#{imageUrl}">Изображение (URL)</label>
            <textarea class="form-control" id="image_url" name="imageUrl" rows="1" th:text="${blogPost.imageUrl}" required></textarea>
        </div>
        <div>
            <label for="vkLink" class="form-label" th:text="#{vkLink}">Ссылка на ВКонтакте</label>
            <input type="url" class="form-control" id="vkLink" name="vkLink" th:value="${blogPost.vkLink}" placeholder="https://vk.com/example">
        </div>
        <div>
            <label for="facebookLink" class="form-label" th:text="#{facebookLink}">Ссылка на Facebook</label>
            <input type="url" class="form-control" id="facebookLink" name="facebookLink" th:value="${blogPost.facebookLink}" placeholder="https://facebook.com/example">
        </div>
        <div>
            <label for="odnkLink" class="form-label" th:text="#{odnkLink}">Ссылка на Одноклассники</label>
            <input type="url" class="form-control" id="odnkLink" name="odnkLink" th:value="${blogPost.odnkLink}" placeholder="https://ok.ru/example">
        </div>
        <div>
            <label for="twitterLink" class="form-label" th:text="#{twitterLink}">Ссылка на Twitter</label>
            <input type="url" class="form-control" id="twitterLink" name="twitterLink" th:value="${blogPost.twitterLink}" placeholder="https://twitter.com/example">
        </div>

        <button type="submit" th:text="#{save}">Сохранить</button>
    </form>
</div>

</body>
</html>
