<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{loginSystem}">User Management</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
  <a class="navbar-brand" th:href="@{/index}" th:text="#{loginSystem}">User Management System</a>
  <div>
    <ul>
      <li>
        <a class="nav-link" th:href="@{/logout}" th:text="#{loggedOut}">Logout</a>
      </li>
    </ul>
    <form>
      <select name="lang" onchange="this.form.submit()">
        <option value="en" th:selected="${#locale == 'en'}" th:text="#{chooseLan}">Выберите язык</option>
        <option value="en" th:selected="${#locale == 'en'}" th:text="#{english}">English</option>
        <option value="ru" th:selected="${#locale == 'ru'}" th:text="#{russian}">Русский</option>
        <option value="de" th:selected="${#locale == 'de'}" th:text="#{german}">Deutsch</option>
        <option value="it" th:selected="${#locale == 'it'}" th:text="#{italian}">Italiano</option>
        <option value="cn" th:selected="${#locale == 'cn'}" th:text="#{chinese}">漢語</option>
      </select>
    </form>
  </div>
</nav>
<div class="container">
  <h2 th:text="#{registeredUsers}">Registered Users</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th th:text="#{name}">Name</th>
      <th th:text="#{email}">Email</th>
      <th th:text="#{roles}">Roles</th>
      <th th:text="#{changeRole}">Change Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <ul>
          <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
        </ul>
      </td>
      <td>
        <form th:action="@{/users/changeRole}" method="post">
          <input type="hidden" name="userId" th:value="${user.id}">
          <select name="newRole" class="form-select">
            <option th:each="role : ${allRoles}"
                    th:value="${role.name}"
                    th:text="${role.name}"></option>
          </select>
          <button type="submit" class="btn" th:text="#{change}">Change</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
